.header {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 15vh;
    background-color: rgb(74, 71, 255);
    color: aliceblue;
    font-weight: bold;
    font-size: x-large;
}